.mainsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}
.mainsection img{
    height: 70px;
}
@media (min-width: 300px) and (max-width: 600px) {
  .mainsection {
    flex-direction: column;
    padding: 20px 15px;
    align-items: center;
    gap: 20px;
  }

  .mainsection img {
    height: 50px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .mainsection {
    padding: 25px 30px;
    justify-content: space-around;
  }

  .mainsection img {
    height: 45px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .mainsection {
    padding: 30px 80px;
  }

  .mainsection img {
    height: 65px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .mainsection {
    padding: 30px 120px;
  }

  .mainsection img {
    height: 70px;
  }
}
